# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAGcdfMdFyyoEyDf8ZWAaT3cFL0BeGEUvw
VITE_FIREBASE_AUTH_DOMAIN=ultraflaw-cffd2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ultraflaw-cffd2
VITE_FIREBASE_STORAGE_BUCKET=ultraflaw-cffd2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=336513344888
VITE_FIREBASE_APP_ID=1:336513344888:web:a648b30f0ac3e2d92e948d
VITE_FIREBASE_MEASUREMENT_ID=G-PG5GT22PY5